.floating{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.floating-left{
    left:40px;
}
.floating-right{
    right:40px;
}

.floating:hover {
    background-color: rgb(114, 255, 220); /* Bootstrap hover color */
}